<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop.xsd
    http://www.springframework.org/schema/tx
    http://www.springframework.org/schema/tx/spring-tx.xsd">


    <context:property-placeholder  location="classpath:jdbc.properties"/>
    <bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource" destroy-method="close">
        <!-- 8.0以上mysql服务器合 8.0以上的mysql-connector-bin使用的
               <property name="driverClassName" value="com.mysql.cj.jdbc.Driver"/>-->
        <!--        <property name="url" value="jdbc:mysql://localhost:3306/springmvc?useSSL=fals-->
        <property name="driverClassName" value="${jdbc.driver}"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
        <!--        pool2 中修改 maxActive ==> maxTotal maxWait ==> maxWaitMillis-->
        <property name="maxTotal" value="10"></property>
        <property name="maxIdle" value="5"></property>
        <property name="maxWaitMillis" value="10000"/>
    </bean>


    <!-- 事务管理器 -->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <!-- 数据源 -->
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <!-- 事务管理器也可以用p命名空间简写方式 -->
    <!--<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager"
          p:dataSource-ref="dataSource">
    </bean>-->

    <!-- 配置通知、传播行为 -->
    <tx:advice id="txAdvice" transaction-manager="transactionManager">
        <tx:attributes>
            <!-- 传播行为 -->
            <!--            spring5.0以上传播行为propagation="SUPPORTS"才会成功-->
            <!--            spring5.0以下传播行为propagation="SUPPORTS/REQUIRED"都可以,坑-->
            <!--  REQUIRED是没事务时,开启一个事务,SUPPORTS如何有事务就用事务,否则不执行事务-->
            <tx:method name="save*" propagation="SUPPORTS"/>
            <tx:method name="insert*" propagation="SUPPORTS"/>
            <tx:method name="add*" propagation="SUPPORTS"/>
            <tx:method name="create*" propagation="SUPPORTS"/>
            <tx:method name="delete*" propagation="SUPPORTS"/>
            <tx:method name="update*" propagation="SUPPORTS"/>
            <tx:method name="find*" propagation="SUPPORTS" read-only="true"/>
            <tx:method name="select*" propagation="SUPPORTS" read-only="true"/>
            <tx:method name="get*" propagation="SUPPORTS" read-only="true"/>
        </tx:attributes>
    </tx:advice>

    <!-- 配置切面 一般都是sevice层的 切面类-->
    <aop:config>
        <aop:advisor advice-ref="txAdvice" pointcut="execution(* com.shop.service.impl.*.*(..))"/>
    </aop:config>

    <!-- 配置开启注解开发-->
    <tx:annotation-driven transaction-manager="transactionManager"/>

</beans>